{% extends 'layout.html' %}

{% block title %}
    Friend list
{% endblock %}

{% block content %}
<br><br>
    {% for elem in friends %}
        <p>
        {% if elem.user.username == you.username %}
            <img src="{{ elem.friend.profile_picture.url }}" width="50" height="40"/>
            {{elem.friend.username}}
        {% else %}
            <img src="{{ elem.user.profile_picture.url }}" width="50" height="40"/>
            {{elem.user.username}}
        {% endif %}
        | <a href= "{% url 'friend:del' elem.id %}">delete</a></p>
    {% endfor %}
{% endblock %}