{% extends 'layout.html' %}

{% block title %}
    MY ACCOUNT
{% endblock %}

{% block content %}
<br>
<h1>MY ACCOUNT</h1>
<br>
    <h2>Infos</h2>
        <br>
        <p>username = {{ user.username }}</p>
        <p>nickname = {{ user.nickname }}</p>
        <p>email = {{ user.email }}</p>
        <p>password = {{ user.password }}</p>
        <p>phone = {{ user.phone_number }}</p>
        <br>
        <a href="{% url 'player:update' %}">Edit info</a> <br>
        {% if user.password %}
            <a href="{% url 'player:update_password' %}">Change password</a>
        {% else %}
            <a href="{% url 'player:create_password' %}">Create password</a>
        {% endif %}
        <br><br>
        <h2>Set 2FA (Double authentication)</h2>
        <h3>QR Code method:</h3>
            <a href="/player/display_qr/">Show QR Code</a>
            <br>
        <h3>SMS method: Add / Change your phone number</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
            <br>
        <br>
    <form href="/player/logout" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
{% endblock %}
