{% extends 'layout.html' %}

{% block title %}
    MY ACCOUNT
{% endblock %}

{% block content %}
<br>
<h1>MY ACCOUNT</h1>
<br>
    <h2>Infos</h2>
        <br>
        <img src="transcendence\profile_pictures\SNIP 2024-04-13.png">
        <p>username = {{ user.username }}</p>
        <p>nickname = {{ user.nickname }}</p>
        <p>email = {{ user.email }}</p>
        <p>password = {{ user.password }}</p>
        <p>phone = {{ user.phone_number }}</p>
        <br>
        <a href="{% url 'player:update' %}">Edit info</a> <br>
        <a href="{% url 'player:update_password' %}">Change password</a>
        <br>
        <br>
    <form href="/player/logout" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
{% endblock %}
