{% extends 'layout.html' %}

{% block title %}
    Player Login
{% endblock %}

{% block content %}
    <br>
    <h1>Player Login</h1>
    <br>

    <form class="form-width-validation" action="/player/login/" method="post">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <label>
            <input type="radio" name="otp_method" value="email" checked> Receive OTP via Email
        </label>
        <br>
        <label>
            <input type="radio" name="otp_method" value="sms" checked> Receive OTP via SMS
        </label>
        <br>
        <label>
            <input type="radio" name="otp_method" value="qr"> Use QR Code
        </label>
        <br><br>

        <button type="submit" name="login">Log in</button>
    </form>
    <br><br>
    <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-16025b9787666ade4d4f1d6dea5934752712328ed62f01905c7627b9d195d996&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fplayer%2Fauth%2F42%2Fcallback%2F&response_type=code">Log in with 42</a>

{% endblock %}
