{% extends 'layout.html' %}

{% block title %}
    OTP
{% endblock %}

{% block content %}
<br>
    <h1>OTP</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="otp">OTP:</label>
            <input class="form" type="text" name="otp" required>
        </div>
        <button type="submit">Confirm</button>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        <button action="Resend_code">Resend code</button>
    </form>
    {% if error %}
        <br>
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    </form>
    {% endblock %}