{% extends 'layout.html' %}

{% block title %}
    Register a New User
{% endblock %}

{% block content %}
<br>

    <h1>Register a New User</h1>
        <!-- other form fields -->
    <form class="form-width-validation" action="/player/register/" method="post">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <label>
            <input type="checkbox" name="consent" required> I agree to the <a href="/privacy-policy">privacy policy</a>.
        </label>
        <br><br>
        <button>Submit</button>
    </form>
    
{% endblock %}