
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/game.css">
    </head>
    <body>
        <canvas id="board"></canvas>

        <script type="text/javascript" src="../../static/js/collisions.js"></script>
        <script type="text/javascript" src="../../static/js/drawing.js"></script>
        <script type="text/javascript" src="../../static/js/events.js"></script>
        <script type="text/javascript" src="../../static/js/game.js"></script>
    </body>
</html>